<!doctype html>
<html>
<head>
    <title>Project Tracker</title>
</head>

<body>

  <form action="/student-add-db" method="POST">
      <label>Enter First Name:
          <input type="text" name="first_name"><br> <!-- HERE IS THE KEY -->
      </label>
    <label>Enter Last Name:
        <input type="text" name="last_name"><br>
    </label>
    <label>Enter Github Username
        <input type="text" name="github"><br>
    </label>
      <input type="submit" value="Display Student">
  </form>

</body>
</html>
